@keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadein-meal {
  0% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes background-spinner {
  0% {
    opacity: 1;
    width: 100%;
    height: 100%;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0.9;
    width: 100%;
    height: 100%;
  }
}
@keyframes loading {
  0% {
    opacity: 1;
    transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: rotate(540deg);
  }
}
.spin {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 0;
  height: 0;
  background-color: #f5f5f5;
  animation: background-spinner 3s;
  z-index: 1;
  opacity: 0;
}

.loading {
  position: relative;
  top: 300px;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  border: 3px dashed lightgrey;
  animation: loading 3s;
  opacity: 0;
}

.loading__spinner1 {
  content: "ohmyfood";
  position: relative;
  top: 10px;
  left: 40px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: #9356DC;
  animation: loading-spinner 3s;
}

.loading__spinner2 {
  content: "ohmyfood";
  position: relative;
  top: 25px;
  left: 80px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: #FF79DA;
  animation: loading-spinner 3s;
}

.loading__spinner3 {
  content: "ohmyfood";
  position: relative;
  top: 10px;
  left: 15px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: #99E2D0;
  animation: loading-spinner 3s;
}

h1 {
  width: 91%;
  margin-left: 20px;
}

h2 {
  font-weight: 900;
  font-size: 1.2em;
  width: 95%;
  padding: 2rem 0 0 0;
}

.operation h2 {
  max-width: 380px;
}

h3 {
  margin: 0.5rem 0 0 0;
}

body {
  margin: 0;
}

#block-page {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  font-size: 1.13em;
  font-family: "Roboto", sans-serif;
}

/*Button reserve*/
.btn-push {
  min-width: 170px;
  height: 3.3rem;
  padding: 1.2rem 1.5rem;
  background: linear-gradient(170deg, rgba(255, 121, 218, 0.9), rgba(255, 121, 218, 0) 90.71%), linear-gradient(0deg, rgba(146, 86, 220, 0.9), rgba(146, 86, 220, 0.9));
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 5rem;
  border: none;
  box-shadow: 0 0.4rem 0.5rem lightgrey;
  transition: opacity 200ms 300ms, box-shadow 500ms;
}
.btn-push:hover {
  opacity: 0.9;
  box-shadow: 0rem 1.5rem 0.9rem lightgrey;
}

/*Buttons operation*/
.ope {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  list-style-type: none;
  padding: 0 0 0 0;
}
.ope > li {
  display: flex;
  justify-content: center;
  width: 96%;
  max-width: 420px;
}
.ope__btn {
  display: flex;
  align-items: center;
  width: 95%;
  height: 80px;
  margin: 3.5% 0 3.5% 1.5%;
  padding: 0 0 0 0;
  border-radius: 1.2em;
  border: none;
  box-shadow: 0 0.3rem 0.9rem lightgrey;
  font-size: 1rem;
  font-weight: bold;
  background-color: #f5f5f5;
  transition: background-color 200ms 300ms, color 500ms;
}
.ope__btn:focus {
  background-color: rgba(146, 86, 220, 0.1);
}
.ope__btn:focus > .fa-button {
  color: #9356DC;
}

.flea {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  margin-left: -0.9rem;
  border-radius: 100%;
  color: white;
  background-color: #9356DC;
  font-family: "Roboto", sans-serif;
}

.fa-button {
  padding: 0 1rem 0 1rem;
  color: grey;
  font-size: 1.3em;
}

/*Button_new_in_restaurants*/
.btn-new {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0%;
  top: -235%;
  width: 80px;
  height: 30px;
  font-size: 0.9rem;
  font-weight: 600;
  color: darkgreen;
  background-color: #99E2D0;
}

.btn-push {
  min-width: 170px;
  height: 3.3rem;
  padding: 1.2rem 1.5rem;
  background: linear-gradient(170deg, rgba(255, 121, 218, 0.9), rgba(255, 121, 218, 0) 90.71%), linear-gradient(0deg, rgba(146, 86, 220, 0.9), rgba(146, 86, 220, 0.9));
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 5rem;
  border: none;
  box-shadow: 0 0.4rem 0.5rem lightgrey;
  transition: opacity 200ms 300ms, box-shadow 500ms;
  margin-bottom: 60px;
}
.btn-push:hover {
  opacity: 0.9;
  box-shadow: 0rem 1.5rem 0.9rem lightgrey;
}
.btn-push .fa-tasks {
  display: none;
}

h2 > span {
  border-bottom: #99E2D0 3px solid;
  padding-bottom: 4px;
}

/***************cards************/
.restaurant__card {
  width: 95%;
  height: 250px;
  border-radius: 1em;
  background-color: white;
  box-shadow: 0 0.3rem 0.9rem lightgrey;
  color: black;
  margin-bottom: 20px;
  text-decoration: none;
}
.restaurant__card > figure {
  margin: 0;
  font-size: 1rem;
}
.restaurant__card figcaption {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.restaurant__card figcaption div {
  margin: 0 1rem;
}
.restaurant__card figcaption div p {
  margin-top: 0.5rem;
}
.restaurant__card figcaption h3, .restaurant__card figcaption p {
  width: 190px;
}
.restaurant__card img {
  width: 100%;
  height: 180px;
  border-radius: 1em 1em 0 0;
  object-fit: cover;
}

.form {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1rem 0 1rem 0;
  background-color: #ebebeb;
  border-top: 0.2rem inset rgba(235, 235, 235, 0.2);
}
.form__in {
  width: 150px;
  border: none;
  background-color: #ebebeb;
  font-size: 1.05em;
}
.form__in::placeholder {
  color: black;
}

.fa-map-marker-alt {
  margin-right: 20px;
  font-size: 1.3rem;
}

header {
  display: flex;
  justify-content: center;
  background-color: white;
  width: 100%;
  padding: 20px 0 15px 0;
}

nav {
  display: flex;
  align-items: center;
}

#logo {
  width: 150px;
  height: 30px;
  margin: 0;
}

.arrow-box {
  position: absolute;
  left: 1.3rem;
  top: 20px;
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
}

footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  justify-content: initial;
  align-content: center;
  flex-direction: column;
  background-color: #45433e;
}
footer a {
  width: 95%;
  margin-top: 1rem;
  color: #fff;
  text-decoration: none;
}
footer img {
  width: 110px;
  /*margin-left: 0.3rem;*/
  filter: invert(1);
  color: #fff;
}
footer > ul {
  width: 95%;
  margin-top: 0.5em;
  padding: 0;
  color: #fff;
  list-style-type: none;
}
footer li {
  width: 250px;
  margin: 0.5rem 0 0.5rem 0;
  font-size: 0.9rem;
}

.foot-icon {
  font-weight: 600;
}

.fa-utensils {
  padding-right: 1.5rem;
}

.fa-hands-helping {
  padding-right: 1.1rem;
}

/***********home-menu**********************/
.back_img {
  max-width: 100%;
  height: 20rem;
  max-height: 100%;
  width: 100%;
  object-fit: cover;
}

#block-page {
  background-color: #f5f5f5;
}

.block-main--alafrancaise, .block-main--lanoteenchantee, .block-main--lapalettedugout, .block-main--ledelicedessens {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: -80px 0 20px 0;
  border-radius: 2em 2em 0 0;
  background-color: #f5f5f5;
  font-size: 1rem;
}
.menu__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 30px;
  max-width: 440px;
  margin-top: 40px;
  border-radius: 2rem;
  padding: 30px 10px 0 0;
  background-color: #f5f5f5;
  font-family: "Shrikhand";
  font-size: 115%;
}
.menu h2 {
  font-weight: 300;
  width: 90%;
  max-width: 400px;
}

.entree {
  animation: fadein 1s;
}

.main-course {
  animation: fadein 2s;
}

.dessert {
  animation: fadein 3s;
}

.entree, .main-course, .dessert {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dessert {
  margin-bottom: 45px;
}

.meal {
  display: flex;
  flex-wrap: wrap;
  width: 92%;
  max-width: 400px;
  height: 60px;
  font-size: 0.9rem;
  padding: 0 0 0.5rem 0;
  margin: 0.5rem 0 0.5rem 0;
  background-color: white;
  box-shadow: 0 0.3rem 0.9rem lightgrey;
  border-radius: 1rem;
  overflow: hidden;
  animation: fadein-meal 2s;
}
.meal__translate {
  position: relative;
  bottom: 100%;
  left: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 4rem;
  border-radius: 0 1rem 1rem 0;
  background-color: #99E2D0;
  transition: transform 0.8s ease;
}
.meal:hover > .meal__translate {
  transform: translatex(-100%);
}
.meal i {
  max-width: 30px;
  width: 1.5rem;
  height: 1.5rem;
  background-color: white;
  border-radius: 100%;
  font-size: 1.5rem;
  color: #99E2D0;
  transition: transform 0.6s 0.2s ease;
}
.meal:hover i {
  transform: rotate(360deg);
}
.meal__recipe {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 75%;
  padding-left: 0.8rem;
  transition: width 0.5s;
}
.meal__recipe h3 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  transition: width 0.7s;
  font-weight: 500;
}
.meal__recipe > p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  transition: width 0.7s;
  font-weight: 300;
  margin: 0;
}
.meal:hover h3 {
  text-overflow: ellipsis;
  width: 80%;
}
.meal:hover p {
  text-overflow: ellipsis;
  width: 80%;
}
.meal span {
  align-items: center;
  width: 15%;
  background-color: white;
  margin: 38px 2px 0 10px;
  font-weight: 500;
  transition: transform 0.7s 0.1s ease;
}
.meal:hover > span {
  transform: translatex(-40px);
}

/**************heart-menu************************/
.heart__full {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 40px;
  height: 40px;
  border: none;
  background: linear-gradient(#9356DC, #FF79DA);
  padding: 0;
}

.not-full {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #f5f5f5;
  font-size: 1.6rem;
  opacity: 1;
  transition: opacity 1s ease-out;
}
.not-full:hover {
  cursor: pointer;
  opacity: 0;
}

.full {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  mix-blend-mode: lighten;
  width: 40px;
  height: 40px;
  border: 2px solid #f5f5f5;
  font-size: 1.6rem;
  opacity: 1;
}

.reserve {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  background-color: #f5f5f5;
  text-align: center;
}
.reserve__text {
  width: 85%;
  height: 190px;
}

.operation {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  background-color: white;
}

.restaurant {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  background-color: #f5f5f5;
  padding-bottom: 40px;
}

/*************heart-index*****************/
.heart__full-index {
  display: flex;
  position: relative;
  top: 10px;
  right: 15px;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  background: linear-gradient(#9356DC, #FF79DA);
  padding: 0;
}

.not-full-index {
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #fff;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 1.6rem;
}
.not-full-index:hover {
  cursor: pointer;
  transition: opacity 1s ease-out;
  opacity: 0;
}

.full-index {
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #fff;
  mix-blend-mode: lighten;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 40px;
  height: 40px;
  font-size: 1.6rem;
  opacity: 1;
}

@media (min-width: 320px) and (max-width: 374px) {
  .meal {
    font-size: 0.71rem;
  }
}
@media (min-width: 375px) and (max-width: 406px) {
  .meal {
    font-size: 0.83rem;
  }
}
/************index-pages*****************/
@media (min-width: 600px) and (max-width: 950px) {
  .reserve__text {
    width: 55% !important;
    margin-top: 30px;
  }

  .btn-push {
    margin: 70px 0 0 10px;
  }

  .operation {
    justify-content: initial;
    height: 400px;
    margin-top: 20px;
  }
  .operation h2 {
    width: 30%;
    height: 300px;
    margin: 50px 0 0 30px;
    padding: 0;
  }

  .ope {
    width: 50%;
    margin: 30px 0 0 0;
  }

  .restaurant {
    justify-content: space-evenly;
  }
  .restaurant h2 {
    width: 100%;
    max-width: 100%;
    margin: 0 0px 20px 30px;
  }
  .restaurant__card {
    width: 46%;
  }

  /************menu-pages*******************/
  .menu__title {
    font-size: 1.7rem;
    max-width: 500px;
  }
  .menu h2 {
    width: 35%;
    height: 80%;
    padding: 0;
    margin: 0 0 0 -5rem;
  }
  .menu + .btn-push {
    width: 250px;
    height: 60px;
    margin: 0 0 40px 40px;
    font-size: 1.2rem;
  }

  #tasks {
    display: initial;
    margin-left: 5px;
  }

  .entree, .main-course, .dessert {
    justify-content: initial;
    flex-direction: column;
    margin: 5% 3% 0 5%;
  }

  .meal {
    width: 95%;
    font-size: 0.9rem;
  }
}
/*@media (min-width: 951px) and (max-width: 1270px){
	.meal{
		font-size: 0.7rem;
	}
}*/
@media (min-width: 951px) {
  /************index-page*********************/
  .reserve__text {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 1.8rem;
    height: 220px;
  }
  .reserve__text + .btn-push {
    width: 380px;
    height: 80px;
    font-size: 1.5rem;
  }

  .operation h2, .restaurant h2 {
    width: 90%;
    max-width: none;
    font-size: 2rem;
  }

  .ope {
    flex-wrap: nowrap;
    justify-content: initial;
    height: 100px;
    width: 90%;
    margin-bottom: 50px;
  }
  .ope__btn {
    width: 90%;
    max-width: initial;
  }
  .ope__btn .flea {
    width: 30px;
    height: 30px;
  }
  .ope > li {
    max-width: 600px;
  }

  .restaurant {
    justify-content: space-evenly;
  }
  .restaurant__card {
    max-width: 47.5%;
    margin-top: 20px;
  }

  /***********menu-page*****************/
  .menu__title {
    justify-content: center;
    width: 80%;
    max-width: initial;
  }

  .menu__title > h1 {
    font-size: 3.5rem;
    width: 800px;
  }

  .menu h2 {
    font-size: 2rem;
  }

  .entree, .main-course, .dessert {
    width: 31%;
    margin-bottom: 30px;
  }

  .meal {
    width: 77%;
    font-size: 0.81rem;
  }

  .menu + .btn-push {
    width: 300px;
    height: 70px;
    font-size: 1.6rem;
  }

  #tasks {
    display: initial;
  }
}
@media (min-width: 1271px) {
  .meal {
    font-size: 0.95rem;
  }
}

/*# sourceMappingURL=style.css.map */
