@charset "UTF-8";
@keyframes appear {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}
/*.lds-dual-ring {
		display: inline-block;
		width: 100%;
		height: 100%;
		position: absolute;
		background-color: rgba($colour-background, $alpha: 0.5);
	      }
	      .lds-dual-ring:after {
		content: "";
		display: block;
		width: 80px;
		height: 80px;
		position: relative;
		left: 35%;
		top: 20%;
		border-radius: 50%;
		border: 6px solid $colour-primary;
		border-color: $colour-primary transparent $colour-primary transparent;
		animation: lds-dual-ring 2s  linear infinite;
	      }
	      @keyframes lds-dual-ring {
			0% {
			transform: rotate(0deg);
			}
			100% {
			transform: rotate(360deg);
			}
		}	
		.lds-dual-ring{
			animation: lds-dual-ring 2s timing-function delay iteration-count direction fill-mode;
		}
	      */
h1 {
  width: 91%;
  margin-left: 20px;
}

h2 {
  font-weight: 900;
  font-size: 1.2em;
  width: 90%;
  max-width: 400px;
  padding: 2rem 0 0 0;
}

.operation h2 {
  max-width: 380px;
}

h3 {
  margin: 0.5rem 0 0 0;
}

body {
  margin: 0;
}

#block-page {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  font-size: 1.13em;
  font-family: "Roboto", sans-serif;
}

/*Button reserve*/
.btn-push {
  min-width: 170px;
  height: 3.3rem;
  padding: 1.2rem 1.5rem;
  background: linear-gradient(170deg, rgba(255, 121, 218, 0.9), rgba(255, 121, 218, 0) 90.71%), linear-gradient(0deg, rgba(146, 86, 220, 0.9), rgba(146, 86, 220, 0.9));
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 5rem;
  border: none;
  box-shadow: 0 0.4rem 0.5rem lightgrey;
  transition: opacity 200ms 300ms, box-shadow 500ms;
}
.btn-push:hover {
  opacity: 0.9;
  box-shadow: 0rem 1.5rem 0.9rem lightgrey;
}

/*Buttons operation*/
.ope {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  list-style-type: none;
  padding: 0 0 0 0;
}
.ope > li {
  display: flex;
  justify-content: center;
  width: 96%;
  max-width: 420px;
}
.ope__btn {
  display: flex;
  align-items: center;
  width: 90%;
  max-width: 400px;
  height: 80px;
  margin: 3.5% 0 3.5% 1.5%;
  padding: 0 0 0 0;
  border-radius: 1.2em;
  border: none;
  box-shadow: 0 0.3rem 0.9rem lightgrey;
  font-size: 1rem;
  font-weight: bold;
  background-color: #f5f5f5;
  transition: background-color 200ms 300ms, color 500ms;
}
.ope__btn:focus {
  background-color: rgba(146, 86, 220, 0.1);
}
.ope__btn:focus > .fa-button {
  color: #9356DC;
}

.flea {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  margin-left: -0.9rem;
  border-radius: 100%;
  color: white;
  background-color: #9356DC;
  font-family: "Roboto", sans-serif;
}

.fa-button {
  padding: 0 1rem 0 1rem;
  color: grey;
  font-size: 1.3em;
}

/*Button_new_in_restaurants*/
.btn-new {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0%;
  top: 5%;
  width: 80px;
  height: 30px;
  font-size: 0.9rem;
  font-weight: 600;
  color: darkgreen;
  background-color: #99E2D0;
}

.btn-push {
  min-width: 170px;
  height: 3.3rem;
  padding: 1.2rem 1.5rem;
  background: linear-gradient(170deg, rgba(255, 121, 218, 0.9), rgba(255, 121, 218, 0) 90.71%), linear-gradient(0deg, rgba(146, 86, 220, 0.9), rgba(146, 86, 220, 0.9));
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 5rem;
  border: none;
  box-shadow: 0 0.4rem 0.5rem lightgrey;
  transition: opacity 200ms 300ms, box-shadow 500ms;
  margin-bottom: 60px;
}
.btn-push:hover {
  opacity: 0.9;
  box-shadow: 0rem 1.5rem 0.9rem lightgrey;
}

.menu__title .full {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FF79DA;
  width: 29.8%;
  height: 50px;
  font-size: 1.5rem;
  transform: scale(0);
  transition: transform 1s ease;
}

.menu__title .empty {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  left: 18.8%;
  width: 29.8%;
  height: 50px;
  font-size: 1.5rem;
  transition: transform 1s ease;
}
.menu__title .empty:hover + .full {
  transform: scale(1);
}

h2 > span {
  border-bottom: #99E2D0 3px solid;
  padding-bottom: 4px;
}

.restaurant__card {
  position: relative;
  width: 90%;
  max-width: 400px;
  height: 250px;
  border-radius: 1em;
  background-color: white;
  box-shadow: 0 0.3rem 0.9rem lightgrey;
  color: black;
  margin-bottom: 20px;
  text-decoration: none;
}
.restaurant__card > figure {
  margin: 0;
  font-size: 1rem;
}
.restaurant__card figcaption {
  display: flex;
  justify-content: space-between;
}
.restaurant__card figcaption div {
  margin: 0 1rem;
}
.restaurant__card figcaption div p {
  margin-top: 0.5rem;
}
.restaurant__card figcaption h3, .restaurant__card figcaption p {
  width: 190px;
}
.restaurant__card img {
  width: 100%;
  height: 180px;
  border-radius: 1em 1em 0 0;
  object-fit: cover;
}

/*figcaption .full-index{

	position: relative;
	color: $colour-secondary;
	width: 15%;
	height: 50px;
	/*margin-right: 8px;
	font-size: 1.22rem;
	transform: scale(1);
	transition: transform 1s ease;
}*/
.fa-heart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  font-size: 1.5rem;
  border-radius: 10% 10% 100% 100%;
  width: 30px;
  height: 30px;
}

.fa-heart::before {
  border-radius: 60%;
  transition: bold 1s ease-out;
}

.fa-heart:hover::before {
  font-weight: bold;
}

/*figcaption .empty{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 1;
	right: -15.9%;	

	height: 50px;
	font-size: 1.5rem;

	transform: scale(1);

	&:hover{
		transform: scale(1);
	}
}*/
.form {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1rem 15% 1rem 25%;
  background-color: #ebebeb;
  border-top: 0.2rem inset rgba(235, 235, 235, 0.2);
}
.form__in {
  width: 100%;
  border: none;
  background-color: #ebebeb;
  font-size: 1.05em;
}
.form__in::placeholder {
  color: black;
}

.fa-map-marker-alt {
  margin-right: 5%;
  font-size: 1.3rem;
}

header {
  width: 100%;
  padding: 5% 0 3% 0;
}

nav {
  display: flex;
  align-items: center;
}

#logo {
  width: 60%;
  height: 100%;
}

.arrow-box {
  text-decoration: none;
  color: black;
  margin: 0 20% 0 5%;
}

footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  background-color: #45433e;
}
footer a {
  width: 90%;
  max-width: 400px;
  margin-top: 1rem;
  color: #fff;
  text-decoration: none;
}
footer img {
  width: 35%;
  height: 65%;
  margin-left: 0.3rem;
  filter: invert(1);
  color: #fff;
}
footer > ul {
  width: 90%;
  max-width: 400px;
  margin-top: 0.5em;
  padding: 0;
  color: #fff;
  list-style-type: none;
}
footer li {
  width: 100%;
  margin: 0.5rem;
  font-size: 0.9rem;
}

.foot-icon {
  font-weight: 600;
}

.fa-utensils {
  padding-right: 1.5rem;
}

.fa-hands-helping {
  padding-right: 1.1rem;
}

.block-main--ledelicedessens {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f5f5f5 !important;
  background-size: 100% 21%, cover !important;
  background-repeat: no-repeat !important;
  background-image: url(/public/img/img_le_delice_des_sens.jpg);
}

.block-main--alafrancaise {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f5f5f5 !important;
  background-size: 100% 21%, cover !important;
  background-repeat: no-repeat !important;
  background: url(/public/img/img_a_la_francaise.jpg);
}

.block-main--lanoteenchantee {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f5f5f5 !important;
  background-size: 100% 21%, cover !important;
  background-repeat: no-repeat !important;
  background-image: url(/public/img/img_la_note_enchantée.jpg);
}

.block-main--lapalettedugout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f5f5f5 !important;
  background-size: 100% 21%, cover !important;
  background-repeat: no-repeat !important;
  background: url(/public/img/img_la_palette_du_gout.jpg);
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 250px 0 20px 0;
  border-radius: 2em 2em 0 0;
  background-color: #f5f5f5;
  font-size: 1rem;
}
.menu__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 30px;
  max-width: 440px;
  margin-top: 40px;
  font-family: "Shrikhand";
  font-size: 115%;
}
.menu h2 {
  font-weight: 300;
}

.entree, .main-course, .dessert {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dessert {
  margin-bottom: 45px;
}

.meal {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  max-width: 400px;
  height: 60px;
  font-size: 0.9rem;
  padding: 0 0 0.5rem 0;
  margin: 0.5rem 0 0.5rem 0;
  background-color: white;
  box-shadow: 0 0.3rem 0.9rem lightgrey;
  border-radius: 1rem;
  overflow: hidden;
}
.meal::after {
  content: "";
  position: relative;
  bottom: 100%;
  left: 94.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 115%;
  width: 65px;
  border-radius: 0 1rem 1rem 0;
  background-color: #99E2D0;
  transition: transform 0.8s ease;
}
.meal i {
  position: relative;
  left: 108%;
  bottom: 55%;
  width: 22px;
  height: 21px;
  z-index: 1;
  background-color: white;
  border-radius: 100%;
  font-size: 1.4rem;
  color: #99E2D0;
  transition: transform 0.8s ease, transform 0.8s ease;
}
.meal:hover > i {
  transform: translateX(-320%) rotate(720deg);
}
.meal:hover {
  overflow: clip;
}
.meal:hover::after {
  transform: translatex(-100%);
}
.meal__recipe {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 75%;
  padding-left: 0.8rem;
  font-size: 0.9rem;
  transition: width 0.5s;
}
.meal__recipe h3 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 250px;
  transition: width 0.7s;
  font-weight: 500;
}
.meal__recipe > p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 250px;
  transition: width 0.7s;
  font-weight: 300;
  margin: 0;
}
.meal:hover h3 {
  text-overflow: ellipsis;
  width: 210px;
}
.meal:hover p {
  text-overflow: ellipsis;
  width: 210px;
}
.meal span {
  align-items: center;
  width: 15%;
  background-color: white;
  margin: 38px 0 0 10px;
  font-weight: 500;
  transition: transform 0.7s 0.1s ease;
}
.meal:hover > span {
  transform: translatex(-40px);
}

.reserve {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  background-color: #f5f5f5;
  text-align: center;
}
.reserve__text {
  width: 85%;
  height: 190px;
}

.operation {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.restaurant {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  background-color: #f5f5f5;
  padding-bottom: 40px;
}

#nav-index {
  display: flex;
  justify-content: center;
}

#a-index {
  width: 100%;
  height: 100%;
  padding: 10px 0% 0 26%;
}

/*# sourceMappingURL=style.css.map */
