.form{
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 1rem 0 1rem 0;
	background-color: $colour-form;
	border-top:  0.2rem inset rgba($color: $colour-form, $alpha: 0.2);

		&__in{
			width: 150px;
			border: none;
			background-color: $colour-form;
			font-size: 1.05em;

			&::placeholder{
				color: black;
			}
		}

	}

.fa-map-marker-alt{
	margin-right: 20px;
	font-size: 1.3rem;

}