h1{
	width: 91%;
	margin-left: 20px;
}

h2{
	font-weight: 900 ;
	font-size: 1.2em;
	@include element-width-mobile;
	padding: 2rem 0 0 0;
}

.operation h2{
	max-width: 380px;
}

h3{
	margin: 0.5rem 0 0 0 ;
}