
	body{
		margin: 0;
	}

	#block-page{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		width: 100%;
		font-family: sans-serif;
	}

	.reserve{
		@include background_section;
		background-color: $colour-background;
		
		&__text{
			width: 85%
		}
	}

	
	.operation{
		@include background_section;
	}

	.restaurant{
		@include background_section;
	}




