	.reserve{
		@include background-section;
		background-color: $colour-background;
		
		text-align: center;

		&__text{
			width: 85%;
			height: 190px;
		}
	}

	.operation{
		@include background-section;
		background-color: white;	
	}

	.restaurant{
		@include background-section;
		background-color: $colour-background;
		padding-bottom: 40px;
	}
			/*************heart-index*****************/

	
			.heart__full-index{
				display: flex;
				justify-content: center;
				align-items: center;
				position: relative;
				top: 10px;
				right: 15px;
				width: 40px;
				height: 40px;
				border: none;
				background: linear-gradient( $colour-primary, $colour-secondary);
				padding: 0;
			}
		
			div > .not-full-index{
				position: absolute;
				width: 40px;
				height: 40px;
				background-color: $colour-font;
				opacity: 1;
				display: flex;
				justify-content: center;
				align-items: center;
				position: absolute;		
				font-size: 1.6rem;
		
				&:hover{
					cursor: pointer;
					transition: opacity 250ms ease-out;
					opacity: 0;
				}
			}
				
			div > .full-index{
				position: absolute;
				width: 42px;
				height: 42px;
				background-color: $colour-font;
				mix-blend-mode: lighten;
				display: flex;
				justify-content: center;
				align-items: center;
				position: absolute;		
				font-size: 1.6rem;
				opacity: 1;
			}