
.block-main{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-image: url(/public/img/img_la_note_enchantée.jpg);
	background-size: 100% 25%;
	background-repeat: no-repeat;
}


.menu{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	margin: 250px 0 110px 0;
	border-radius: 2em 2em 0 0;
	background-color: $colour-background;
	font-size: 1rem;
}



.meal{
	display: flex;
	flex-wrap: wrap;
	width: 90%;
	max-width: 400px;
	height: 5%;
	font-size: 1rem;
	padding: 0.5rem 0 0.5rem 0;
	margin: 0.5rem 0 0.5rem 0;
	background-color: white;
	box-shadow: 0 0.3rem 0.9rem $colour-shadow;
	border-radius: 1rem;

	&__recipe{
		display: flex;
		flex-wrap: wrap;
		height: 100%;
		width: 80%;
	

		& h3{

		}

		& > p{
			margin: 0;
		}
	}

	& span{
		font-weight: bold;
	}
	
}


