
.block-main{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-image: url(/public/img/img_la_note_enchantée.jpg);
	background-size: 100% 25%;
	background-repeat: no-repeat;
}


.menu{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	margin-top: 250px;
	border-radius: 2em 2em 0 0;
	background-color: $colour-background;
}



.meal{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	min-width: 300px;
	height: 18%;
	font-size: 1rem;
	padding: 0.5rem 0 0.5rem 0;
	margin: 0.5rem 0 0.5rem 0;
	background-color: white;
	box-shadow: 0 0.3rem 0.9rem $colour-shadow;
	border-radius: 1rem;

	& > p{
		margin: 0.2rem;

		& span{
			font-weight: bold;
		}
	}
}


