	.reserve{
		@include background-section;
		background-color: $colour-background;
		
		text-align: center;

		&__text{
			width: 85%;
			height: 190px;
		}
	}

	.operation{
		@include background-section;	
	}

	.restaurant{
		@include background-section;
		background-color: $colour-background;
		padding-bottom: 40px;
	}


	#nav-index{
		display: flex;
		justify-content: center;
	}

	#a-index{
		width: 100%;
		height: 100%;
		padding: 10px 0% 0 26%;
	}


	