	.reserve{
		@include background-section;
		background-color: $colour-background;
		
		text-align: center;

		&__text{
			width: 85%;
			height: 190px;
		}
	}

	.operation{
		@include background-section;	
	}

	.restaurant{
		@include background-section;
		background-color: $colour-background;
		padding-bottom: 40px;
	}




