
	body{
		margin: 0;
	}

	#block-page{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		width: 100%;
		
		font-size: 1.13em;
		font-family: sans-serif;
	}

	.reserve{
		@include background-section;
		background-color: $colour-background;
		padding-bottom: 75px;
		text-align: center;

		&__text{
			width: 85%;
			height: 200px;
		}
	}




	.operation{
		@include background-section;
	}

	.restaurant{
		@include background-section;
	}




