@media (min-width: 951px){
	/************index-page*********************/
	.reserve__text{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		font-size: 1.8rem;
		height: 220px;

		& + .btn-push{
			width: 380px;
			height: 80px;
			font-size: 1.5rem;
		}
	}
	
	.operation h2, .restaurant h2{
		width: 90%;
		max-width: none;
		font-size: 2rem;
	}
	
	.ope{

		flex-wrap: nowrap;
		justify-content: initial;
		height: 100px;
		width: 90%;
		margin-bottom: 50px;

		&__btn{
			width: 90%;
			max-width: initial;
			
			& .flea{
				width: 30px;
				height: 30px;
			}
		}
	

		& > li{
			max-width: 600px;
		}

	}

		.restaurant{
			justify-content: space-evenly;
			

		&__card{
			max-width: 47.5%;
			margin-top: 20px;

		}
	}

		/***********menu-page*****************/
	.menu__title{
		justify-content:center;
		width: 80%;
		max-width: initial;
	}

	.menu__title > h1{
		font-size: 3.5rem;
		width: 800px;
	}

	.menu h2{
		font-size: 2rem;
	}


	.entree, .main-course, .dessert{
		width: 31%;
		margin-bottom: 30px;
	}

	.meal{
		width: 77%;
		font-size: 0.81rem;
	}

	.menu + .btn-push{
		width: 300px;
		height: 70px;
		font-size: 1.6rem;
	}
	#tasks{
		display: initial;
	}
}
	
@media (min-width: 1271px){
	.meal{
	
		font-size: 0.95rem;
	}
}
