@media (min-width: 951px){


	/************index-page*********************/
	.reserve__text{
		font-size: 1.8rem;
		width: 100%;

		& + .btn-push{
			width: 380px;
			height: 80px;
			font-size: 1.5rem;
		}
	}
	
	.operation h2, .restaurant h2{
		width: 90%;
		max-width: none;
		font-size: 2rem;
	}
	
	.ope{

		flex-wrap: nowrap;
		justify-content: initial;
		height: 100px;
		width: 90%;
		margin-bottom: 50px;

		&__btn{
			width: 90%;
			max-width: initial;
			
			& .flea{
				width: 30px;
				height: 30px;
			}
		}
	

		& > li{
			max-width: 600px;
		}

	}

		.restaurant{
			justify-content: space-evenly;
			

		&__card{
			max-width: 40%;
			margin-top: 20px;

		}
	}

	footer{

		padding: 20px 0 20px 0;

		& a{
			max-width: 50%;

		}

		& img{
			width: 80%;
			height: 100%;

		}
		& > ul{
			display: flex;
			flex-direction: column;
			line-height: 1.8rem;
			align-items: center;
			width: 95%;

			& li{
				width: 100%;
				margin: 0 0.3rem 0 0.3rem;
				font-size: 1.1rem;
			}

		}
	}

		/***********menu-page*****************/

	.arrow-box{
		font-size: 2rem;

		& + a{
			width: 35%;
		}
	}

	.menu__title{
		justify-content:center;
		width: 80%;
		max-width: initial;
	}

	.menu__title > h1{
		font-size: 3.5rem;
		width: 800px;
	}

	.menu h2{
		font-size: 2rem;
	}


	.entree, .main-course, .dessert{
		width: 33%;
		margin-bottom: 30px;
	}

	.meal{
		width: 90%;
		max-width: 600px;

		& h3{
			text-overflow: initial;
			overflow: initial;
			white-space: initial;
			width: 300px;
			transition: none;
		}

		&:hover h3{
			width: 300px;
			transition: none;
			transform: none;
		}

		&__recipe > p{
			text-overflow: initial;
			overflow: initial;
			white-space: initial;
			transform: none;
			transition: none;
			width: 300px;
		}
		&:hover p{
			transition: none;
			transform: none;
			text-overflow: initial;
			width: 300px;
		}

		& span{

		}
	}

	.menu + .btn-push{
		width: 350px;
		height: 90px;
		font-size: 2rem;
	}
	#tasks{
		display: initial;
	}
}


@media (min-width: 951px) and (max-width: 1325px){

	.meal{
		& h3{
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			font-weight: 500;
		}

		& > p{	
			
			font-weight: 300;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			margin: 0;

	  	}

		&:hover h3{
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			width: 200px;
		}

		&:hover p{
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			width: 200px;
		}


	}

}
