@keyframes fadein {
	from{
		
		opacity: 0;
	}
	
	to{
		
		opacity: 1;
	}

}

  @keyframes loading-spinner {
			from {
			opacity: 1;
			transform: rotate(0deg);
			}
			to {
			opacity: 0;
			transform: rotate(360deg);
			display: none;
			}
		}	



.loading-spinner{
	animation: loading-spinner 3s;
	width: 30px;
	height: 30px;
	background-color: blue;

}