@mixin background-section {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
}

@mixin element-width-mobile {
	width: 90%;
	max-width: 400px;
}

@mixin btn-push {
	width: 110%;
	min-width: 170px;
	height: 3.3rem;
	background: linear-gradient(170deg, rgba(255,121,218,.9), rgba(255,121,218,0) 90.71%),
           	    linear-gradient(0deg, rgba(146,86,220,.9), rgba(146,86,220,.9));
	color: $colour-font;
	font-size: 1rem;
	font-weight: 600;
	border-radius: 5rem;
	border: none;
	box-shadow: 0 0.4rem 0.5rem $colour-shadow;
	transition-duration: 0.5s;
	
	&:hover{
		opacity: 0.9;
		box-shadow: 0rem 1.5rem 0.9rem $colour-shadow;
	}
}


@mixin backgrimg{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: $colour-background!important;
	background-size: 100% 21%, cover!important;
	background-repeat: no-repeat!important;
}