@mixin background-section {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
}

@mixin element-width-mobile {
	width: 90%;
	max-width: 400px;
}

@mixin btn-push {
	min-width: 170px;
	height: 3.3rem;
	padding: 1.2rem 1.5rem;
	background: $btn-push;
	color: $colour-font;
	font-size: 1rem;
	font-weight: 600;
	border-radius: 5rem;
	border: none;
	box-shadow: 0 0.4rem 0.5rem $colour-shadow;
	transition: opacity 200ms 300ms, box-shadow 500ms;
	
	
	&:hover{
		opacity: 0.9;
		box-shadow: 0rem 1.5rem 0.9rem $colour-shadow;
	}
}

@mixin backgrimg{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: $colour-background!important;
	background-size: 100% 21%, cover!important;
	background-repeat: no-repeat!important;
}

@mixin ellipsis-recipe {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: 250px;
	transition: width 0.7s;
	
}

@mixin ellipsis-recipe-hover{
		text-overflow: ellipsis;
		width: 210px;
}
