

footer{
	@include background-section;
	background-color: $background-color-footer;

	& a{
		width: 85%;
		max-width: 400px;
		color: white;
		text-decoration: none;
	}

	& img{
		width: 30%;
		height: 100%;
		color: white;
	}

	& > ul{
		width: 85%;
		max-width: 400px;
		padding: 0;
		color: white;
		list-style-type: none;
		
	}

}



