

footer{
	@include background-section;
	background-color: $background-color-footer;

	& a{
		@include element-width-mobile;
		margin-top: 1rem;
		color: $colour-font;
		text-decoration: none;
	}

	& img{
		width: 35%;
		height: 65%;
		margin-left: 0.3rem;
		filter: invert(1);
		color: $colour-font;
	}

	& > ul{
		@include element-width-mobile;
		margin-top: 0.5em;
		padding: 0;
		color: $colour-font;
		list-style-type: none;
		
	}
	&  li{
		width: 100%;
		margin: 0.5rem;
		font-size: 0.9rem;
	}

}

.foot-icon{
	font-weight: 600;
}

.fa-utensils{
	padding-right: 1.5rem;
}
.fa-hands-helping{
	padding-right: 1.1rem;
}



