header{
	background-color: white;
	width: 100%;
	padding: 5% 0 3% 0;
}

nav{
	display: flex;
	align-items: center;
}
	
#logo{
	width: 60%;
	height: 100%;
}	

.arrow-box{
	text-decoration: none;
	color: black;
	margin: 0 20% 0 5%;
}