
.block-main--ledelicedessens{
	@include backgrimg;
	background-image: url(/public/img/img_le_delice_des_sens.jpg);
}

.block-main--alafrancaise{
	@include backgrimg;
	background: url(/public/img/img_a_la_francaise.jpg);
}

.block-main--lanoteenchantee{
	@include backgrimg;
	background-image: url(/public/img/img_la_note_enchantée.jpg);
}

.block-main--lapalettedugout{
	@include backgrimg;
	background: url(/public/img/img_la_palette_du_gout.jpg);
}

.menu{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	margin: 250px 0 45px 0;
	border-radius: 2em 2em 0 0;
	background-color: $colour-background;
	font-size: 1rem;


	&__title{
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 30px;
		max-width: 440px;
		margin-top: 40px;
		font-family: 'Shrikhand';
		font-size: 115%;
	
	}

	&  h2{
		font-weight: 300;
	}
}

.entree{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	}

.meal{
	display: flex;
	flex-wrap: wrap;
	width: 90%;
	max-width: 400px;
	height: 60px;
	font-size: 0.9rem;
	padding: 0 0 0.5rem 0;
	margin: 0.5rem 0 0.5rem 0;
	background-color: white;
	box-shadow: 0 0.3rem 0.9rem $colour-shadow;
	border-radius: 1rem;
	overflow: hidden;
	
	&::after{
		content: "";
		position: relative;
		bottom: 100%;
		left: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 115%;
		width: 20%;
		border-radius: 0 1rem 1rem 0;
		background-color: $colour-tertiary;
		transition: transform 0.8s ease;
	}

		&:hover{
			overflow: visible 0;

			&::after{
				transform: translatex(-90%);
			}
		}
	
	&__recipe{
		display: flex;
		flex-wrap: wrap;
		height: 100%;
		width: 75%;
		padding-left: 0.8rem;
		font-size: 0.9rem;
		transition: width 0.5s;
	
		& h3{
			@include ellipsis-recipe;
			font-weight: 500;
		}

		& > p{	
			@include ellipsis-recipe;
			font-weight: 300;
			margin: 0;
	  	}

	}

	&:hover h3{
		@include ellipsis-recipe-hover;
	}

	&:hover p{
		@include ellipsis-recipe-hover;
	}


	& span{	
		align-items: center;
		width: 15%;
		background-color: white;
		margin: 38px 0 0 10px;
		font-weight: 500;
		transition: transform 0.7s 0.1s ease;
	}

	&:hover > span{
		transform: translatex(-40px);
	}
}



