
.block-main--ledelicedessens{
	@include backgrimg;
	background-image: url(/public/img/img_le_delice_des_sens.jpg);
}

.block-main--alafrancaise{
	@include backgrimg;
	background: url(/public/img/img_la_note_enchantée.jpg);
}

.block-main--lanoteenchantee{
	@include backgrimg;
	background-image: url(/public/img/img_la_note_enchantée.jpg);
}

.block-main--lapalettedugout{
	@include backgrimg;
	background-image: url(/public/img/img_la_palette_du_gout.jpg);
}

.menu{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	margin: 250px 0 45px 0;
	border-radius: 2em 2em 0 0;
	background-color: $colour-background;
	font-size: 1rem;

	&__title{
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 30px;
		max-width: 440px;
		margin-top: 40px;
		font-family: 'Shrikhand';
		font-size: 115%;
		
		& > h1{
			
		}
	}

	& > h2{
		font-weight: 300;
	}
}



.meal{
	display: flex;
	flex-wrap: wrap;
	width: 90%;
	max-width: 400px;
	height: 55px;
	font-size: 0.9rem;
	padding: 0 0 0.5rem 0;
	margin: 0.5rem 0 0.5rem 0;
	background-color: white;
	box-shadow: 0 0.3rem 0.9rem $colour-shadow;
	border-radius: 1rem;

	&__recipe{
		display: flex;
		flex-wrap: wrap;
		height: 100%;
		width: 80%;
		padding-left: 0.8rem;
		font-size: 0.9rem;
	

		& h3{
			font-weight: 500;
		}

		& > p{	
			width: 100%;
			font-weight: 300;
			margin: 0;
		}
	}

	& span{
		width: 10%;
		margin: 35px 0 0 15px;
		font-weight: 500;
	}
	
}


